body {
    background-color: #252524;
}

.section-1 {
    height: 100vh;
    width: 100vw;
    background-image: url(./bikers/nazgul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-family: 'Rye', cursive;
    color: white !important;
}

h2,
h5 {
    color: whitesmoke;
}


/* Sections */

.colored-section {
    background-color: #252524;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


/* Features Section */

#features {
    position: relative;
}

.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 4.5%;
}

.icon {
    color: #252524;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #696969;
}


/* Testimonial Section */

#testimonials {
    background-color: #252524;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 25px;
    margin: 20px;
}

#press {
    background-color: #252524;
    padding-bottom: 3%;
}


/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

h3 {
    font-family: "Montserrat-Bold";
}


/*--------------*/

.container-fluid {
    padding: 25px 0 25px 0;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-light {
    margin-left: 10px;
}


/* Footer Section */

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

footer {
    width: 100%;
    height: 50px;
    display: inline-block;
    min-height: 40vh;
}

h6 {
    color: #f8f8f8;
}